---
  openapi: "3.0.0"
  info: 
    version: "1.0.0"
    title: "dig-it-ally Contracts"
  servers: 
    - 
      url: "https://dia-platform.azure-api.net/dia-platform-contract"
      description: "dig-it-ally platform contract api functions"
  paths: 
    /frameContract: 
      put: 
        summary: "frame contract model"
        tags: 
          - "Frame Contract"
        description: "Creates the client contact data inside the frame contract document."
        requestBody: 
          content: 
            application/json: 
              schema: 
                type: "object"
                properties: 
                  documentHeader: 
                    type: "object"
                    properties: 
                      documentType: 
                        type: "string"
                        enum: 
                          - "Party"
                          - "UserPreferencesPersist"
                          - "ContractualDocument"
                          - "UserPreferences"
                      documentCategory: 
                        type: "string"
                        enum: 
                          - "Query"
                          - "Request"
                      definitionVersion: 
                        type: "string"
                        pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                      technicalState: 
                        type: "string"
                        enum: 
                          - "Query"
                          - "Request"
                          - "Active"
                          - "Inactive"
                    required: 
                      - "documentType"
                      - "documentCategory"
                      - "definitionVersion"
                      - "technicalState"
                    additionalProperties: false
                  auditInfo: 
                    type: "object"
                    properties: 
                      createdWhen: 
                        type: "string"
                        format: "date-time"
                      createdBy: 
                        type: "object"
                        properties: 
                          partyRoleReference: 
                            type: "object"
                            properties: 
                              partyId: 
                                type: "string"
                                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                              partyRoleId: 
                                type: "string"
                                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                              partyRoleType: 
                                type: "string"
                                enum: 
                                  - "ComplianceOfficer"
                                  - "ContractMngrOfficer"
                                  - "Manager"
                            required: 
                              - "partyId"
                              - "partyRoleId"
                              - "partyRoleType"
                            additionalProperties: false
                          userReference: 
                            type: "object"
                            properties: 
                              userName: 
                                type: "string"
                              userRoleType: 
                                type: "string"
                                enum: 
                                  - "LoggedInUser"
                                  - "ApplicationCreator"
                                  - "ExecutiveRepresentative"
                                  - "CompanyOwner"
                                  - "AuthorizedPerson"
                                default: "LoggedInUser"
                            required: 
                              - "userName"
                            additionalProperties: false
                        additionalProperties: false
                      modifiedWhen: 
                        type: "string"
                        format: "date-time"
                      modifiedBy: 
                        type: "object"
                        properties: 
                          partyRoleReference: 
                            type: "object"
                            properties: 
                              partyId: 
                                type: "string"
                                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                              partyRoleId: 
                                type: "string"
                                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                              partyRoleType: 
                                type: "string"
                                enum: 
                                  - "ComplianceOfficer"
                                  - "ContractMngrOfficer"
                                  - "Manager"
                            required: 
                              - "partyId"
                              - "partyRoleId"
                              - "partyRoleType"
                            additionalProperties: false
                          userReference: 
                            type: "object"
                            properties: 
                              userName: 
                                type: "string"
                              userRoleType: 
                                type: "string"
                                enum: 
                                  - "LoggedInUser"
                                  - "ApplicationCreator"
                                  - "ExecutiveRepresentative"
                                  - "CompanyOwner"
                                  - "AuthorizedPerson"
                                default: "LoggedInUser"
                            required: 
                              - "userName"
                            additionalProperties: false
                        additionalProperties: false
                    required: 
                      - "createdWhen"
                      - "createdBy"
                      - "modifiedWhen"
                      - "modifiedBy"
                    additionalProperties: false
                  documentData: 
                    type: "object"
                    properties: 
                      contractualDocumentType: 
                        type: "string"
                        enum: 
                          - "FrameContract"
                      clientInfo: 
                        type: "object"
                        properties: 
                          clientType: 
                            type: "string"
                            enum: 
                              - "Person"
                              - "Company"
                          personBasicInfo: 
                            oneOf: 
                              - 
                                type: "object"
                                properties: 
                                  firstName: 
                                    type: "string"
                                  middleName: 
                                    type: "string"
                                  surname: 
                                    type: "string"
                                  titleBefore: 
                                    type: "string"
                                  titleAfter: 
                                    type: "string"
                                  birthDate: 
                                    type: "string"
                                    format: "date-time"
                                  sex: 
                                    type: "string"
                                    enum: 
                                      - "Male"
                                      - "Female"
                                      - "Other"
                                  citizenship: 
                                    type: "string"
                                    enum: 
                                      - "AUT"
                                      - "BGR"
                                      - "CZE"
                                      - "ESP"
                                      - "GBR"
                                      - "LVA"
                                      - "POL"
                                      - "SVK"
                                      - "USA"
                                  dataSource: 
                                    type: "string"
                                    enum: 
                                      - "Client"
                                      - "AkcentaEmployee"
                                      - "Ares"
                                      - "Merk"
                                      - "System"
                                required: 
                                  - "dataSource"
                                additionalProperties: false
                                x-required: true
                          companyBasicInfo: 
                            oneOf: 
                              - 
                                type: "object"
                                properties: 
                                  businessArea: 
                                    type: "string"
                                  taxDomicile: 
                                    type: "string"
                                    enum: 
                                      - "AUT"
                                      - "BGR"
                                      - "CZE"
                                      - "ESP"
                                      - "GBR"
                                      - "LVA"
                                      - "POL"
                                      - "SVK"
                                      - "USA"
                                  annualTurnover: 
                                    type: "string"
                                    enum: 
                                      - "UpTo_1_mio"
                                      - "1_10_mio"
                                      - "10_30_mio"
                                      - "30_100_mio"
                                      - "100_500_mio"
                                      - "500_1500_mio"
                                      - "MoreThan_1500_mio"
                                  numOfEmployees: 
                                    type: "string"
                                    enum: 
                                      - "0_Emp"
                                      - "1_3_Emp"
                                      - "4_10_Emp"
                                      - "10_25_Emp"
                                      - "25_100_Emp"
                                      - "100+_Emp"
                                  companyName: 
                                    type: "string"
                                  dataSource: 
                                    type: "string"
                                    enum: 
                                      - "Client"
                                      - "AkcentaEmployee"
                                      - "Ares"
                                      - "Merk"
                                      - "System"
                                required: 
                                  - "companyName"
                                  - "dataSource"
                                additionalProperties: false
                                x-required: true
                          additionalClientInfo: 
                            type: "object"
                            properties: 
                              clientWebReference: 
                                type: "string"
                              expectedMonthTransAmount: 
                                type: "string"
                                enum: 
                                  - "UpTo_20_k"
                                  - "20_50_k"
                                  - "MoreThan_50_k"
                                  - "UpTo_05_mio"
                                  - "05_1_mio"
                                  - "1_3_mio"
                                  - "3_5_mio"
                                  - "5_10_mio"
                                  - "MoreThan_10_mio"
                              serviceReason: 
                                type: "string"
                                enum: 
                                  - "InvoicePay"
                                  - "Import"
                                  - "Export"
                                  - "Other"
                              tradingCurrencies: 
                                type: "array"
                                items: 
                                  type: "string"
                                  enum: 
                                    - "EUR"
                                    - "CZK"
                                    - "USD"
                                    - "GBP"
                                minItems: 1
                              dataSource: 
                                type: "string"
                                enum: 
                                  - "Client"
                                  - "AkcentaEmployee"
                                  - "Ares"
                                  - "Merk"
                                  - "System"
                            required: 
                              - "dataSource"
                            additionalProperties: false
                          partyIdentifiers: 
                            type: "array"
                            items: 
                              type: "object"
                              properties: 
                                partyIdentifierValue: 
                                  type: "string"
                                partyIdentifierType: 
                                  type: "string"
                                  enum: 
                                    - "Ico"
                                    - "Dic"
                                    - "MerkId"
                                elementHeader: 
                                  type: "object"
                                  properties: 
                                    id: 
                                      type: "string"
                                      pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                    definitionVersion: 
                                      type: "string"
                                      pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                                    technicalState: 
                                      type: "string"
                                      enum: 
                                        - "Query"
                                        - "Request"
                                        - "Active"
                                        - "Inactive"
                                  required: 
                                    - "id"
                                    - "definitionVersion"
                                    - "technicalState"
                                  additionalProperties: false
                                dataSource: 
                                  type: "string"
                                  enum: 
                                    - "Client"
                                    - "AkcentaEmployee"
                                    - "Ares"
                                    - "Merk"
                                    - "System"
                              required: 
                                - "partyIdentifierValue"
                                - "partyIdentifierType"
                                - "elementHeader"
                                - "dataSource"
                              additionalProperties: false
                            minItems: 1
                          partyContacts: 
                            type: "array"
                            items: 
                              type: "object"
                              properties: 
                                contactType: 
                                  type: "string"
                                  enum: 
                                    - "Email"
                                    - "Phone"
                                    - "Address"
                                emailDetail: 
                                  oneOf: 
                                    - 
                                      type: "object"
                                      properties: 
                                        email: 
                                          type: "string"
                                          pattern: "^(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|\"(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21\\x23-\\x5b\\x5d-\\x7f]|\\\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])*\")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21-\\x5a\\x53-\\x7f]|\\\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])+)\\])$/"
                                      required: 
                                        - "email"
                                      additionalProperties: false
                                phoneDetail: 
                                  oneOf: 
                                    - 
                                      type: "object"
                                      properties: 
                                        phone: 
                                          type: "string"
                                      required: 
                                        - "phone"
                                      additionalProperties: false
                                addressDetail: 
                                  oneOf: 
                                    - 
                                      type: "object"
                                      properties: 
                                        street: 
                                          type: "string"
                                        streetNo: 
                                          type: "string"
                                        houseNo: 
                                          type: "string"
                                        flatNo: 
                                          type: "string"
                                        cityPart: 
                                          type: "string"
                                        city: 
                                          type: "string"
                                        higherAdminUnit: 
                                          type: "string"
                                        country: 
                                          type: "string"
                                          enum: 
                                            - "AUT"
                                            - "BGR"
                                            - "CZE"
                                            - "ESP"
                                            - "GBR"
                                            - "LVA"
                                            - "POL"
                                            - "SVK"
                                            - "USA"
                                        zipCode: 
                                          type: "string"
                                      additionalProperties: false
                                contactSubtype: 
                                  type: "string"
                                  enum: 
                                    - "AuthorizationEmail"
                                    - "AuthorizationPhone"
                                    - "HeadquarterAddress"
                                    - "ContactAddress"
                                    - "PermanentAddress"
                                    - "BusinessPremises"
                                contactStatus: 
                                  type: "string"
                                  enum: 
                                    - "Verified"
                                    - "Unverified"
                                dataSource: 
                                  type: "string"
                                  enum: 
                                    - "Client"
                                    - "AkcentaEmployee"
                                    - "Ares"
                                    - "Merk"
                                    - "System"
                                elementHeader: 
                                  type: "object"
                                  properties: 
                                    id: 
                                      type: "string"
                                      pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                    definitionVersion: 
                                      type: "string"
                                      pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                                    technicalState: 
                                      type: "string"
                                      enum: 
                                        - "Query"
                                        - "Request"
                                        - "Active"
                                        - "Inactive"
                                  required: 
                                    - "id"
                                    - "definitionVersion"
                                    - "technicalState"
                                  additionalProperties: false
                              required: 
                                - "contactType"
                                - "contactStatus"
                                - "dataSource"
                                - "elementHeader"
                              additionalProperties: false
                          partyDocuments: 
                            type: "array"
                            items: 
                              type: "object"
                              properties: 
                                blobName: 
                                  type: "string"
                                attachmentType: 
                                  type: "string"
                                  enum: 
                                    - "IdentityCard"
                                    - "Passport"
                                    - "DrivingLicence"
                                attachmentPartType: 
                                  type: "string"
                                  enum: 
                                    - "IdentityCardFrontPage"
                                    - "IdentityCardBackPage"
                                    - "PassportOwnerPage"
                                    - "DrivingLicenceFrontPage"
                                attachmentState: 
                                  type: "string"
                                  enum: 
                                    - "Uploaded"
                                dataSource: 
                                  type: "string"
                                  enum: 
                                    - "Client"
                                    - "AkcentaEmployee"
                                    - "Ares"
                                    - "Merk"
                                    - "System"
                                elementHeader: 
                                  type: "object"
                                  properties: 
                                    id: 
                                      type: "string"
                                      pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                    definitionVersion: 
                                      type: "string"
                                      pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                                    technicalState: 
                                      type: "string"
                                      enum: 
                                        - "Query"
                                        - "Request"
                                        - "Active"
                                        - "Inactive"
                                  required: 
                                    - "id"
                                    - "definitionVersion"
                                    - "technicalState"
                                  additionalProperties: false
                              required: 
                                - "blobName"
                                - "attachmentType"
                                - "attachmentPartType"
                                - "attachmentState"
                                - "dataSource"
                                - "elementHeader"
                              additionalProperties: false
                          pepInfo: 
                            type: "object"
                            properties: 
                              isPep: 
                                type: "boolean"
                              pepDetails: 
                                type: "string"
                              dataSource: 
                                type: "string"
                                enum: 
                                  - "Client"
                                  - "AkcentaEmployee"
                                  - "Ares"
                                  - "Merk"
                                  - "System"
                            required: 
                              - "dataSource"
                            additionalProperties: false
                        required: 
                          - "clientType"
                          - "partyIdentifiers"
                        additionalProperties: false
                      signatureRules: 
                        type: "object"
                        properties: 
                          signatureMethod: 
                            type: "string"
                            enum: 
                              - "OneExecutive"
                              - "MultipleExecutives"
                          dataSource: 
                            type: "string"
                            enum: 
                              - "Client"
                              - "AkcentaEmployee"
                              - "Ares"
                              - "Merk"
                              - "System"
                        required: 
                          - "dataSource"
                        additionalProperties: false
                      no25pctOwner: 
                        type: "boolean"
                      contractRelatedPersons: 
                        type: "array"
                        items: 
                          type: "object"
                          properties: 
                            elementHeader: 
                              type: "object"
                              properties: 
                                id: 
                                  type: "string"
                                  pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                definitionVersion: 
                                  type: "string"
                                  pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                                technicalState: 
                                  type: "string"
                                  enum: 
                                    - "Query"
                                    - "Request"
                                    - "Active"
                                    - "Inactive"
                              required: 
                                - "id"
                                - "definitionVersion"
                                - "technicalState"
                              additionalProperties: false
                            personBasicInfo: 
                              type: "object"
                              properties: 
                                firstName: 
                                  type: "string"
                                middleName: 
                                  type: "string"
                                surname: 
                                  type: "string"
                                titleBefore: 
                                  type: "string"
                                titleAfter: 
                                  type: "string"
                                birthDate: 
                                  type: "string"
                                  format: "date-time"
                                sex: 
                                  type: "string"
                                  enum: 
                                    - "Male"
                                    - "Female"
                                    - "Other"
                                citizenship: 
                                  type: "string"
                                  enum: 
                                    - "AUT"
                                    - "BGR"
                                    - "CZE"
                                    - "ESP"
                                    - "GBR"
                                    - "LVA"
                                    - "POL"
                                    - "SVK"
                                    - "USA"
                                dataSource: 
                                  type: "string"
                                  enum: 
                                    - "Client"
                                    - "AkcentaEmployee"
                                    - "Ares"
                                    - "Merk"
                                    - "System"
                              required: 
                                - "dataSource"
                              additionalProperties: false
                            partyIdentifiers: 
                              type: "array"
                              items: 
                                type: "object"
                                properties: 
                                  partyIdentifierValue: 
                                    type: "string"
                                  partyIdentifierType: 
                                    type: "string"
                                    enum: 
                                      - "Ico"
                                      - "Dic"
                                      - "MerkId"
                                  elementHeader: 
                                    type: "object"
                                    properties: 
                                      id: 
                                        type: "string"
                                        pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                      definitionVersion: 
                                        type: "string"
                                        pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                                      technicalState: 
                                        type: "string"
                                        enum: 
                                          - "Query"
                                          - "Request"
                                          - "Active"
                                          - "Inactive"
                                    required: 
                                      - "id"
                                      - "definitionVersion"
                                      - "technicalState"
                                    additionalProperties: false
                                  dataSource: 
                                    type: "string"
                                    enum: 
                                      - "Client"
                                      - "AkcentaEmployee"
                                      - "Ares"
                                      - "Merk"
                                      - "System"
                                required: 
                                  - "partyIdentifierValue"
                                  - "partyIdentifierType"
                                  - "elementHeader"
                                  - "dataSource"
                                additionalProperties: false
                            partyContacts: 
                              type: "array"
                              items: 
                                type: "object"
                                properties: 
                                  contactType: 
                                    type: "string"
                                    enum: 
                                      - "Email"
                                      - "Phone"
                                      - "Address"
                                  emailDetail: 
                                    oneOf: 
                                      - 
                                        type: "object"
                                        properties: 
                                          email: 
                                            type: "string"
                                            pattern: "^(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|\"(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21\\x23-\\x5b\\x5d-\\x7f]|\\\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])*\")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21-\\x5a\\x53-\\x7f]|\\\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])+)\\])$/"
                                        required: 
                                          - "email"
                                        additionalProperties: false
                                  phoneDetail: 
                                    oneOf: 
                                      - 
                                        type: "object"
                                        properties: 
                                          phone: 
                                            type: "string"
                                        required: 
                                          - "phone"
                                        additionalProperties: false
                                  addressDetail: 
                                    oneOf: 
                                      - 
                                        type: "object"
                                        properties: 
                                          street: 
                                            type: "string"
                                          streetNo: 
                                            type: "string"
                                          houseNo: 
                                            type: "string"
                                          flatNo: 
                                            type: "string"
                                          cityPart: 
                                            type: "string"
                                          city: 
                                            type: "string"
                                          higherAdminUnit: 
                                            type: "string"
                                          country: 
                                            type: "string"
                                            enum: 
                                              - "AUT"
                                              - "BGR"
                                              - "CZE"
                                              - "ESP"
                                              - "GBR"
                                              - "LVA"
                                              - "POL"
                                              - "SVK"
                                              - "USA"
                                          zipCode: 
                                            type: "string"
                                        additionalProperties: false
                                  contactSubtype: 
                                    type: "string"
                                    enum: 
                                      - "AuthorizationEmail"
                                      - "AuthorizationPhone"
                                      - "HeadquarterAddress"
                                      - "ContactAddress"
                                      - "PermanentAddress"
                                      - "BusinessPremises"
                                  contactStatus: 
                                    type: "string"
                                    enum: 
                                      - "Verified"
                                      - "Unverified"
                                  dataSource: 
                                    type: "string"
                                    enum: 
                                      - "Client"
                                      - "AkcentaEmployee"
                                      - "Ares"
                                      - "Merk"
                                      - "System"
                                  elementHeader: 
                                    type: "object"
                                    properties: 
                                      id: 
                                        type: "string"
                                        pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                      definitionVersion: 
                                        type: "string"
                                        pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                                      technicalState: 
                                        type: "string"
                                        enum: 
                                          - "Query"
                                          - "Request"
                                          - "Active"
                                          - "Inactive"
                                    required: 
                                      - "id"
                                      - "definitionVersion"
                                      - "technicalState"
                                    additionalProperties: false
                                required: 
                                  - "contactType"
                                  - "contactStatus"
                                  - "dataSource"
                                  - "elementHeader"
                                additionalProperties: false
                            partyDocuments: 
                              type: "array"
                              items: 
                                type: "object"
                                properties: 
                                  blobName: 
                                    type: "string"
                                  attachmentType: 
                                    type: "string"
                                    enum: 
                                      - "IdentityCard"
                                      - "Passport"
                                      - "DrivingLicence"
                                  attachmentPartType: 
                                    type: "string"
                                    enum: 
                                      - "IdentityCardFrontPage"
                                      - "IdentityCardBackPage"
                                      - "PassportOwnerPage"
                                      - "DrivingLicenceFrontPage"
                                  attachmentState: 
                                    type: "string"
                                    enum: 
                                      - "Uploaded"
                                  dataSource: 
                                    type: "string"
                                    enum: 
                                      - "Client"
                                      - "AkcentaEmployee"
                                      - "Ares"
                                      - "Merk"
                                      - "System"
                                  elementHeader: 
                                    type: "object"
                                    properties: 
                                      id: 
                                        type: "string"
                                        pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                      definitionVersion: 
                                        type: "string"
                                        pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                                      technicalState: 
                                        type: "string"
                                        enum: 
                                          - "Query"
                                          - "Request"
                                          - "Active"
                                          - "Inactive"
                                    required: 
                                      - "id"
                                      - "definitionVersion"
                                      - "technicalState"
                                    additionalProperties: false
                                required: 
                                  - "blobName"
                                  - "attachmentType"
                                  - "attachmentPartType"
                                  - "attachmentState"
                                  - "dataSource"
                                  - "elementHeader"
                                additionalProperties: false
                            authenticationData: 
                              type: "object"
                              properties: 
                                authenticationEmail: 
                                  type: "string"
                                  pattern: "^(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|\"(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21\\x23-\\x5b\\x5d-\\x7f]|\\\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])*\")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21-\\x5a\\x53-\\x7f]|\\\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])+)\\])$/"
                                authenticationPhone: 
                                  type: "string"
                                dataSource: 
                                  type: "string"
                                  enum: 
                                    - "Client"
                                    - "AkcentaEmployee"
                                    - "Ares"
                                    - "Merk"
                                    - "System"
                              required: 
                                - "dataSource"
                              additionalProperties: false
                            clientRelationInfo: 
                              type: "object"
                              properties: 
                                jobPosition: 
                                  type: "string"
                                dataSource: 
                                  type: "string"
                                  enum: 
                                    - "Client"
                                    - "AkcentaEmployee"
                                    - "Ares"
                                    - "Merk"
                                    - "System"
                              required: 
                                - "dataSource"
                              additionalProperties: false
                            pepInfo: 
                              type: "object"
                              properties: 
                                isPep: 
                                  type: "boolean"
                                pepDetails: 
                                  type: "string"
                                dataSource: 
                                  type: "string"
                                  enum: 
                                    - "Client"
                                    - "AkcentaEmployee"
                                    - "Ares"
                                    - "Merk"
                                    - "System"
                              required: 
                                - "dataSource"
                              additionalProperties: false
                            relatedPersonRoles: 
                              type: "array"
                              items: 
                                type: "object"
                                properties: 
                                  elementHeader: 
                                    type: "object"
                                    properties: 
                                      id: 
                                        type: "string"
                                        pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                      definitionVersion: 
                                        type: "string"
                                        pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                                      technicalState: 
                                        type: "string"
                                        enum: 
                                          - "Query"
                                          - "Request"
                                          - "Active"
                                          - "Inactive"
                                    required: 
                                      - "id"
                                      - "definitionVersion"
                                      - "technicalState"
                                    additionalProperties: false
                                  relatedPersonRoleType: 
                                    type: "string"
                                    enum: 
                                      - "ExecutiveRepresentative"
                                      - "CompanyOwner"
                                      - "AuthorizedPerson"
                                  companyOwnerInfo: 
                                    type: "object"
                                    properties: 
                                      ownerShare: 
                                        type: "number"
                                        format: "float"
                                      additionalInfo: 
                                        type: "string"
                                      dataSource: 
                                        type: "string"
                                        enum: 
                                          - "Client"
                                          - "AkcentaEmployee"
                                          - "Ares"
                                          - "Merk"
                                          - "System"
                                    required: 
                                      - "dataSource"
                                    additionalProperties: false
                                  authorizedPersonInfo: 
                                    type: "object"
                                    properties: 
                                      accessLevel: 
                                        type: "string"
                                        enum: 
                                          - "Full"
                                          - "ReadOnly"
                                          - "None"
                                      dataSource: 
                                        type: "string"
                                        enum: 
                                          - "Client"
                                          - "AkcentaEmployee"
                                          - "Ares"
                                          - "Merk"
                                          - "System"
                                    required: 
                                      - "dataSource"
                                    additionalProperties: false
                                  roleIdentifiers: 
                                    type: "array"
                                    items: 
                                      type: "object"
                                      properties: 
                                        elementHeader: 
                                          type: "object"
                                          properties: 
                                            id: 
                                              type: "string"
                                              pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                            definitionVersion: 
                                              type: "string"
                                              pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                                            technicalState: 
                                              type: "string"
                                              enum: 
                                                - "Query"
                                                - "Request"
                                                - "Active"
                                                - "Inactive"
                                          required: 
                                            - "id"
                                            - "definitionVersion"
                                            - "technicalState"
                                          additionalProperties: false
                                        refElementId: 
                                          type: "string"
                                          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                      required: 
                                        - "elementHeader"
                                        - "refElementId"
                                      additionalProperties: false
                                  roleContacts: 
                                    type: "array"
                                    items: 
                                      type: "object"
                                      properties: 
                                        elementHeader: 
                                          type: "object"
                                          properties: 
                                            id: 
                                              type: "string"
                                              pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                            definitionVersion: 
                                              type: "string"
                                              pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                                            technicalState: 
                                              type: "string"
                                              enum: 
                                                - "Query"
                                                - "Request"
                                                - "Active"
                                                - "Inactive"
                                          required: 
                                            - "id"
                                            - "definitionVersion"
                                            - "technicalState"
                                          additionalProperties: false
                                        refElementId: 
                                          type: "string"
                                          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                      required: 
                                        - "elementHeader"
                                        - "refElementId"
                                      additionalProperties: false
                                  roleDocuments: 
                                    type: "array"
                                    items: 
                                      type: "object"
                                      properties: 
                                        elementHeader: 
                                          type: "object"
                                          properties: 
                                            id: 
                                              type: "string"
                                              pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                            definitionVersion: 
                                              type: "string"
                                              pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                                            technicalState: 
                                              type: "string"
                                              enum: 
                                                - "Query"
                                                - "Request"
                                                - "Active"
                                                - "Inactive"
                                          required: 
                                            - "id"
                                            - "definitionVersion"
                                            - "technicalState"
                                          additionalProperties: false
                                        refElementId: 
                                          type: "string"
                                          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                      required: 
                                        - "elementHeader"
                                        - "refElementId"
                                      additionalProperties: false
                                  partyRoleReference: 
                                    type: "object"
                                    properties: 
                                      partyId: 
                                        type: "string"
                                        pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                      partyRoleId: 
                                        type: "string"
                                        pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                      partyRoleType: 
                                        type: "string"
                                        enum: 
                                          - "ComplianceOfficer"
                                          - "ContractMngrOfficer"
                                          - "Manager"
                                    required: 
                                      - "partyId"
                                      - "partyRoleId"
                                      - "partyRoleType"
                                    additionalProperties: false
                                required: 
                                  - "elementHeader"
                                  - "relatedPersonRoleType"
                                additionalProperties: false
                              minItems: 1
                          required: 
                            - "elementHeader"
                            - "personBasicInfo"
                            - "relatedPersonRoles"
                          additionalProperties: false
                      clientPartyRoleReference: 
                        type: "object"
                        properties: 
                          partyId: 
                            type: "string"
                            pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                          partyRoleId: 
                            type: "string"
                            pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                          partyRoleType: 
                            type: "string"
                            enum: 
                              - "ComplianceOfficer"
                              - "ContractMngrOfficer"
                              - "Manager"
                        required: 
                          - "partyId"
                          - "partyRoleId"
                          - "partyRoleType"
                        additionalProperties: false
                      businessState: 
                        type: "string"
                        enum: 
                          - "PreparationByClient"
                          - "ForProcessing"
                          - "ForSignature"
                          - "Canceled"
                          - "Signed"
                          - "Rejected"
                      entitledUsers: 
                        type: "array"
                        items: 
                          type: "object"
                          properties: 
                            elementHeader: 
                              type: "object"
                              properties: 
                                id: 
                                  type: "string"
                                  pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                definitionVersion: 
                                  type: "string"
                                  pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                                technicalState: 
                                  type: "string"
                                  enum: 
                                    - "Query"
                                    - "Request"
                                    - "Active"
                                    - "Inactive"
                              required: 
                                - "id"
                                - "definitionVersion"
                                - "technicalState"
                              additionalProperties: false
                            userName: 
                              type: "string"
                            userId: 
                              type: "string"
                              pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                            userRoleTypes: 
                              type: "array"
                              items: 
                                type: "string"
                                enum: 
                                  - "LoggedInUser"
                                  - "ApplicationCreator"
                                  - "ExecutiveRepresentative"
                                  - "CompanyOwner"
                                  - "AuthorizedPerson"
                              minItems: 1
                          required: 
                            - "elementHeader"
                            - "userId"
                            - "userRoleTypes"
                          additionalProperties: false
                    required: 
                      - "contractualDocumentType"
                      - "businessState"
                    additionalProperties: false
                required: 
                  - "documentHeader"
                  - "auditInfo"
                  - "documentData"
                additionalProperties: false
        responses: 
          200: 
            description: "Response Object"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  properties: 
                    documentHeader: 
                      type: "object"
                      properties: 
                        documentType: 
                          type: "string"
                          enum: 
                            - "Party"
                            - "UserPreferencesPersist"
                            - "ContractualDocument"
                            - "UserPreferences"
                        documentCategory: 
                          type: "string"
                          enum: 
                            - "Query"
                            - "Request"
                        definitionVersion: 
                          type: "string"
                          pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                        technicalState: 
                          type: "string"
                          enum: 
                            - "Query"
                            - "Request"
                            - "Active"
                            - "Inactive"
                      required: 
                        - "documentType"
                        - "documentCategory"
                        - "definitionVersion"
                        - "technicalState"
                      additionalProperties: false
                    auditInfo: 
                      type: "object"
                      properties: 
                        createdWhen: 
                          type: "string"
                          format: "date-time"
                        createdBy: 
                          type: "object"
                          properties: 
                            partyRoleReference: 
                              type: "object"
                              properties: 
                                partyId: 
                                  type: "string"
                                  pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                partyRoleId: 
                                  type: "string"
                                  pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                partyRoleType: 
                                  type: "string"
                                  enum: 
                                    - "ComplianceOfficer"
                                    - "ContractMngrOfficer"
                                    - "Manager"
                              required: 
                                - "partyId"
                                - "partyRoleId"
                                - "partyRoleType"
                              additionalProperties: false
                            userReference: 
                              type: "object"
                              properties: 
                                userName: 
                                  type: "string"
                                userRoleType: 
                                  type: "string"
                                  enum: 
                                    - "LoggedInUser"
                                    - "ApplicationCreator"
                                    - "ExecutiveRepresentative"
                                    - "CompanyOwner"
                                    - "AuthorizedPerson"
                                  default: "LoggedInUser"
                              required: 
                                - "userName"
                              additionalProperties: false
                          additionalProperties: false
                        modifiedWhen: 
                          type: "string"
                          format: "date-time"
                        modifiedBy: 
                          type: "object"
                          properties: 
                            partyRoleReference: 
                              type: "object"
                              properties: 
                                partyId: 
                                  type: "string"
                                  pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                partyRoleId: 
                                  type: "string"
                                  pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                partyRoleType: 
                                  type: "string"
                                  enum: 
                                    - "ComplianceOfficer"
                                    - "ContractMngrOfficer"
                                    - "Manager"
                              required: 
                                - "partyId"
                                - "partyRoleId"
                                - "partyRoleType"
                              additionalProperties: false
                            userReference: 
                              type: "object"
                              properties: 
                                userName: 
                                  type: "string"
                                userRoleType: 
                                  type: "string"
                                  enum: 
                                    - "LoggedInUser"
                                    - "ApplicationCreator"
                                    - "ExecutiveRepresentative"
                                    - "CompanyOwner"
                                    - "AuthorizedPerson"
                                  default: "LoggedInUser"
                              required: 
                                - "userName"
                              additionalProperties: false
                          additionalProperties: false
                      required: 
                        - "createdWhen"
                        - "createdBy"
                        - "modifiedWhen"
                        - "modifiedBy"
                      additionalProperties: false
                    documentData: 
                      type: "object"
                      properties: 
                        contractualDocumentType: 
                          type: "string"
                          enum: 
                            - "FrameContract"
                        clientInfo: 
                          type: "object"
                          properties: 
                            clientType: 
                              type: "string"
                              enum: 
                                - "Person"
                                - "Company"
                            personBasicInfo: 
                              oneOf: 
                                - 
                                  type: "object"
                                  properties: 
                                    firstName: 
                                      type: "string"
                                    middleName: 
                                      type: "string"
                                    surname: 
                                      type: "string"
                                    titleBefore: 
                                      type: "string"
                                    titleAfter: 
                                      type: "string"
                                    birthDate: 
                                      type: "string"
                                      format: "date-time"
                                    sex: 
                                      type: "string"
                                      enum: 
                                        - "Male"
                                        - "Female"
                                        - "Other"
                                    citizenship: 
                                      type: "string"
                                      enum: 
                                        - "AUT"
                                        - "BGR"
                                        - "CZE"
                                        - "ESP"
                                        - "GBR"
                                        - "LVA"
                                        - "POL"
                                        - "SVK"
                                        - "USA"
                                    dataSource: 
                                      type: "string"
                                      enum: 
                                        - "Client"
                                        - "AkcentaEmployee"
                                        - "Ares"
                                        - "Merk"
                                        - "System"
                                  required: 
                                    - "dataSource"
                                  additionalProperties: false
                                  x-required: true
                            companyBasicInfo: 
                              oneOf: 
                                - 
                                  type: "object"
                                  properties: 
                                    businessArea: 
                                      type: "string"
                                    taxDomicile: 
                                      type: "string"
                                      enum: 
                                        - "AUT"
                                        - "BGR"
                                        - "CZE"
                                        - "ESP"
                                        - "GBR"
                                        - "LVA"
                                        - "POL"
                                        - "SVK"
                                        - "USA"
                                    annualTurnover: 
                                      type: "string"
                                      enum: 
                                        - "UpTo_1_mio"
                                        - "1_10_mio"
                                        - "10_30_mio"
                                        - "30_100_mio"
                                        - "100_500_mio"
                                        - "500_1500_mio"
                                        - "MoreThan_1500_mio"
                                    numOfEmployees: 
                                      type: "string"
                                      enum: 
                                        - "0_Emp"
                                        - "1_3_Emp"
                                        - "4_10_Emp"
                                        - "10_25_Emp"
                                        - "25_100_Emp"
                                        - "100+_Emp"
                                    companyName: 
                                      type: "string"
                                    dataSource: 
                                      type: "string"
                                      enum: 
                                        - "Client"
                                        - "AkcentaEmployee"
                                        - "Ares"
                                        - "Merk"
                                        - "System"
                                  required: 
                                    - "companyName"
                                    - "dataSource"
                                  additionalProperties: false
                                  x-required: true
                            additionalClientInfo: 
                              type: "object"
                              properties: 
                                clientWebReference: 
                                  type: "string"
                                expectedMonthTransAmount: 
                                  type: "string"
                                  enum: 
                                    - "UpTo_20_k"
                                    - "20_50_k"
                                    - "MoreThan_50_k"
                                    - "UpTo_05_mio"
                                    - "05_1_mio"
                                    - "1_3_mio"
                                    - "3_5_mio"
                                    - "5_10_mio"
                                    - "MoreThan_10_mio"
                                serviceReason: 
                                  type: "string"
                                  enum: 
                                    - "InvoicePay"
                                    - "Import"
                                    - "Export"
                                    - "Other"
                                tradingCurrencies: 
                                  type: "array"
                                  items: 
                                    type: "string"
                                    enum: 
                                      - "EUR"
                                      - "CZK"
                                      - "USD"
                                      - "GBP"
                                  minItems: 1
                                dataSource: 
                                  type: "string"
                                  enum: 
                                    - "Client"
                                    - "AkcentaEmployee"
                                    - "Ares"
                                    - "Merk"
                                    - "System"
                              required: 
                                - "dataSource"
                              additionalProperties: false
                            partyIdentifiers: 
                              type: "array"
                              items: 
                                type: "object"
                                properties: 
                                  partyIdentifierValue: 
                                    type: "string"
                                  partyIdentifierType: 
                                    type: "string"
                                    enum: 
                                      - "Ico"
                                      - "Dic"
                                      - "MerkId"
                                  elementHeader: 
                                    type: "object"
                                    properties: 
                                      id: 
                                        type: "string"
                                        pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                      definitionVersion: 
                                        type: "string"
                                        pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                                      technicalState: 
                                        type: "string"
                                        enum: 
                                          - "Query"
                                          - "Request"
                                          - "Active"
                                          - "Inactive"
                                    required: 
                                      - "id"
                                      - "definitionVersion"
                                      - "technicalState"
                                    additionalProperties: false
                                  dataSource: 
                                    type: "string"
                                    enum: 
                                      - "Client"
                                      - "AkcentaEmployee"
                                      - "Ares"
                                      - "Merk"
                                      - "System"
                                required: 
                                  - "partyIdentifierValue"
                                  - "partyIdentifierType"
                                  - "elementHeader"
                                  - "dataSource"
                                additionalProperties: false
                              minItems: 1
                            partyContacts: 
                              type: "array"
                              items: 
                                type: "object"
                                properties: 
                                  contactType: 
                                    type: "string"
                                    enum: 
                                      - "Email"
                                      - "Phone"
                                      - "Address"
                                  emailDetail: 
                                    oneOf: 
                                      - 
                                        type: "object"
                                        properties: 
                                          email: 
                                            type: "string"
                                            pattern: "^(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|\"(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21\\x23-\\x5b\\x5d-\\x7f]|\\\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])*\")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21-\\x5a\\x53-\\x7f]|\\\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])+)\\])$/"
                                        required: 
                                          - "email"
                                        additionalProperties: false
                                  phoneDetail: 
                                    oneOf: 
                                      - 
                                        type: "object"
                                        properties: 
                                          phone: 
                                            type: "string"
                                        required: 
                                          - "phone"
                                        additionalProperties: false
                                  addressDetail: 
                                    oneOf: 
                                      - 
                                        type: "object"
                                        properties: 
                                          street: 
                                            type: "string"
                                          streetNo: 
                                            type: "string"
                                          houseNo: 
                                            type: "string"
                                          flatNo: 
                                            type: "string"
                                          cityPart: 
                                            type: "string"
                                          city: 
                                            type: "string"
                                          higherAdminUnit: 
                                            type: "string"
                                          country: 
                                            type: "string"
                                            enum: 
                                              - "AUT"
                                              - "BGR"
                                              - "CZE"
                                              - "ESP"
                                              - "GBR"
                                              - "LVA"
                                              - "POL"
                                              - "SVK"
                                              - "USA"
                                          zipCode: 
                                            type: "string"
                                        additionalProperties: false
                                  contactSubtype: 
                                    type: "string"
                                    enum: 
                                      - "AuthorizationEmail"
                                      - "AuthorizationPhone"
                                      - "HeadquarterAddress"
                                      - "ContactAddress"
                                      - "PermanentAddress"
                                      - "BusinessPremises"
                                  contactStatus: 
                                    type: "string"
                                    enum: 
                                      - "Verified"
                                      - "Unverified"
                                  dataSource: 
                                    type: "string"
                                    enum: 
                                      - "Client"
                                      - "AkcentaEmployee"
                                      - "Ares"
                                      - "Merk"
                                      - "System"
                                  elementHeader: 
                                    type: "object"
                                    properties: 
                                      id: 
                                        type: "string"
                                        pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                      definitionVersion: 
                                        type: "string"
                                        pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                                      technicalState: 
                                        type: "string"
                                        enum: 
                                          - "Query"
                                          - "Request"
                                          - "Active"
                                          - "Inactive"
                                    required: 
                                      - "id"
                                      - "definitionVersion"
                                      - "technicalState"
                                    additionalProperties: false
                                required: 
                                  - "contactType"
                                  - "contactStatus"
                                  - "dataSource"
                                  - "elementHeader"
                                additionalProperties: false
                            partyDocuments: 
                              type: "array"
                              items: 
                                type: "object"
                                properties: 
                                  blobName: 
                                    type: "string"
                                  attachmentType: 
                                    type: "string"
                                    enum: 
                                      - "IdentityCard"
                                      - "Passport"
                                      - "DrivingLicence"
                                  attachmentPartType: 
                                    type: "string"
                                    enum: 
                                      - "IdentityCardFrontPage"
                                      - "IdentityCardBackPage"
                                      - "PassportOwnerPage"
                                      - "DrivingLicenceFrontPage"
                                  attachmentState: 
                                    type: "string"
                                    enum: 
                                      - "Uploaded"
                                  dataSource: 
                                    type: "string"
                                    enum: 
                                      - "Client"
                                      - "AkcentaEmployee"
                                      - "Ares"
                                      - "Merk"
                                      - "System"
                                  elementHeader: 
                                    type: "object"
                                    properties: 
                                      id: 
                                        type: "string"
                                        pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                      definitionVersion: 
                                        type: "string"
                                        pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                                      technicalState: 
                                        type: "string"
                                        enum: 
                                          - "Query"
                                          - "Request"
                                          - "Active"
                                          - "Inactive"
                                    required: 
                                      - "id"
                                      - "definitionVersion"
                                      - "technicalState"
                                    additionalProperties: false
                                required: 
                                  - "blobName"
                                  - "attachmentType"
                                  - "attachmentPartType"
                                  - "attachmentState"
                                  - "dataSource"
                                  - "elementHeader"
                                additionalProperties: false
                            pepInfo: 
                              type: "object"
                              properties: 
                                isPep: 
                                  type: "boolean"
                                pepDetails: 
                                  type: "string"
                                dataSource: 
                                  type: "string"
                                  enum: 
                                    - "Client"
                                    - "AkcentaEmployee"
                                    - "Ares"
                                    - "Merk"
                                    - "System"
                              required: 
                                - "dataSource"
                              additionalProperties: false
                          required: 
                            - "clientType"
                            - "partyIdentifiers"
                          additionalProperties: false
                        signatureRules: 
                          type: "object"
                          properties: 
                            signatureMethod: 
                              type: "string"
                              enum: 
                                - "OneExecutive"
                                - "MultipleExecutives"
                            dataSource: 
                              type: "string"
                              enum: 
                                - "Client"
                                - "AkcentaEmployee"
                                - "Ares"
                                - "Merk"
                                - "System"
                          required: 
                            - "dataSource"
                          additionalProperties: false
                        no25pctOwner: 
                          type: "boolean"
                        contractRelatedPersons: 
                          type: "array"
                          items: 
                            type: "object"
                            properties: 
                              elementHeader: 
                                type: "object"
                                properties: 
                                  id: 
                                    type: "string"
                                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                  definitionVersion: 
                                    type: "string"
                                    pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                                  technicalState: 
                                    type: "string"
                                    enum: 
                                      - "Query"
                                      - "Request"
                                      - "Active"
                                      - "Inactive"
                                required: 
                                  - "id"
                                  - "definitionVersion"
                                  - "technicalState"
                                additionalProperties: false
                              personBasicInfo: 
                                type: "object"
                                properties: 
                                  firstName: 
                                    type: "string"
                                  middleName: 
                                    type: "string"
                                  surname: 
                                    type: "string"
                                  titleBefore: 
                                    type: "string"
                                  titleAfter: 
                                    type: "string"
                                  birthDate: 
                                    type: "string"
                                    format: "date-time"
                                  sex: 
                                    type: "string"
                                    enum: 
                                      - "Male"
                                      - "Female"
                                      - "Other"
                                  citizenship: 
                                    type: "string"
                                    enum: 
                                      - "AUT"
                                      - "BGR"
                                      - "CZE"
                                      - "ESP"
                                      - "GBR"
                                      - "LVA"
                                      - "POL"
                                      - "SVK"
                                      - "USA"
                                  dataSource: 
                                    type: "string"
                                    enum: 
                                      - "Client"
                                      - "AkcentaEmployee"
                                      - "Ares"
                                      - "Merk"
                                      - "System"
                                required: 
                                  - "dataSource"
                                additionalProperties: false
                              partyIdentifiers: 
                                type: "array"
                                items: 
                                  type: "object"
                                  properties: 
                                    partyIdentifierValue: 
                                      type: "string"
                                    partyIdentifierType: 
                                      type: "string"
                                      enum: 
                                        - "Ico"
                                        - "Dic"
                                        - "MerkId"
                                    elementHeader: 
                                      type: "object"
                                      properties: 
                                        id: 
                                          type: "string"
                                          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/"
                                        definitionVersion: 
                                          type: "string"
                                          pattern: "^(\\d+\\.)(\\d+\\.)(\\d+)$"
                                        technicalState: 
                                          type: "string"
                                          enum: 
                                            - "Query"
                                            - "Request"
                                            - "Active"
                                            - "Inactive"
                                      required: 
                                        - "id"
                                        - "definitionVersion"
                                        - "technicalState"
                                      additionalProperties: false
                                    dataSource: 
                                      type: "string"
                                      enum: 
                                        - "Client"
                                        - "AkcentaEmployee"
                                        - "Ares"
                                        - "Merk"
                                        - "System"
                                  required: 
                                    - "partyIdentifierValue"
                                    - "partyIdentifierType"
                                    - "elementHeader"
                                    - "dataSource"
                                  additionalProperties: false
                              partyContacts: 
                                type: "array"
                                items: 
                                  type: "object"
                                  properties: 
                                    contactType: 
                                      type: "string"
                                      enum: 
                                        - "Email"
                                        - "Phone"
                                        - "Address"
                                    emailDetail: 
                                      oneOf: 
                                        - 
                                          type: "object"
                                          properties: 
                                            email: 
                                              type: "string"
                                              pattern: "^(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|\"(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21\\x23-\\x5b\\x5d-\\x7f]|\\\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])*\")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21-\\x5a\\x53-\\x7f]|\\\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])+)\\])$/"
                                          required: 
                                            - "email"
                                          additionalProperties: false
                                    phoneDetail: 
                                      oneOf: 
                                        - 
                                          type: "object"
                                          properties: 
                                            phone: 
                                              type: "string"
                                          required: 
                                            - "phone"
                                          additionalProperties: false
                                    addressDetail: 
                                      oneOf: 
                                        - 
                                          type: "object"
                                          properties: 
                                            street: 
                                              type: "string"
                                            streetNo: 
                                              type: "string"
[...]
